* {
  margin: 0;
  padding: 0;
}

/* .container {
  margin-right: 30px;
} */

.app{
 min-width: 100%;
}

.section {
  margin-top: 0;
  padding-top: 0;
}

.container-aboutme {
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
}

.mail {
  margin-left: -80px;
}

.phone {
  margin-left: -27px;
}
