* {
  margin: 0;
  padding: 0;
}

.container {
  margin-right: 30px;
}

.container-aboutme {
  margin-top: 50px;
}

.container-contact {
  margin-right: 25px;
}

.mail {
  margin-left: -80px;
}

.phone {
  margin-left: -27px;
}
